@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/lato-regular.woff') format('woff');
}
body pre {
     word-break: break-word;
}
body, pre {
    padding: 20px;
    color: #c0c0c0;
    background-color: #080808;
}
